.body-grid {
	display: grid;
	grid-template-columns: 33% 33% 33%;

}

.cardCss {
	width: 25%;
	height:200px;
	background-color: #333333;
	color: white;
	font-size: 10px;
	margin: 1%;
}

.cardTitle {
	font-size: 10px;
	height: 3em;
	margin: 0;
	padding: 5px;
	text-transform: uppercase;
	background-color: #33333;
	color: white;
}

.genreDiv{
	background-color: #33333;
	font-size: 10px;
	color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: none;
}

.genreName {
	margin: 0;
	text-transform: uppercase;
	font-size: 10px;
	background-color: #33333;
	color: white;
	font-weight: bold;
	margin: 0 0;
}

.genreTitles {
	padding: 2px;
}














