


.body-grid {
	display: flex;
	width: 100%;
	justify-content: space-around;
	flex-wrap: wrap;
}

.cardCss {
	width: 25%;
	background-color: white;
	font-size: 10px;
	margin: 1%;
}

.cardTitle {
	font-size: 10px;
	margin: 0;
	padding: 5px;
	text-transform: uppercase;
	background-color: yellow;
}

.genreDiv{
	background-color: yellow;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.genreName {
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
	margin: 4px 0;
}

.genreTitles {
	padding: 2px;
}














