.seatag{
	display: grid;
	grid-template-columns: auto auto;
	margin: 1em;
	padding: 1em;
	border-style: solid;
	border-color: rgba(255, 51, 0,0.3);
	border-width: 0.75em;
	border-radius: 1em;
}

.altag{
	list-style: none;
}

.infose{
	font-size: 1.5em;
	margin: 1em;
	text-align: left;
	text-decoration: none;
	color: white;
	width: 100%;
}

.infosema{
	text-align: left;
	color: white;
}